name: CI
on:
  push:
    branches:
      - main
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  setup-data:
    name: Setup Market Data
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - name: Cache market data
        uses: actions/cache@v4
        with:
          path: ~/.nemweb_cache
          key: ${{ runner.os }}-nemweb-data-${{ hashFiles('test/fetch_data.jl') }}
          restore-keys: |
            ${{ runner.os }}-nemweb-data-
      - name: Install dependencies
        shell: julia --project=@. --color=yes {0}
        run: |
          using Pkg
          Pkg.instantiate()
      - name: Fetch data
        shell: julia --project=@. --color=yes {0}
        run: include("test/fetch_data.jl")

  test:
    needs: setup-data
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.11'
          - '1.12'
          - 'pre'
        os:
          - ubuntu-latest
        arch:
          - x64
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - name: Restore market data
        uses: actions/cache@v4
        with:
          path: ~/.nemweb_cache
          key: ${{ runner.os }}-nemweb-data-${{ hashFiles('test/fetch_data.jl') }}
          restore-keys: |
            ${{ runner.os }}-nemweb-data-
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
      - uses: julia-actions/julia-processcoverage@v1
      - uses: codecov/codecov-action@v5
        with:
          files: lcov.info
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: false
  docs:
    needs: setup-data
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to allow julia-actions/cache to proactively delete old caches that it has created
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1'
      - uses: julia-actions/cache@v2
      - name: Restore market data
        uses: actions/cache@v4
        with:
          path: ~/.nemweb_cache
          key: ${{ runner.os }}-nemweb-data-${{ hashFiles('test/fetch_data.jl') }}
          restore-keys: |
            ${{ runner.os }}-nemweb-data-
      - name: Configure doc environment
        shell: julia --project=docs --color=yes {0}
        run: |
          using Pkg
          Pkg.develop(PackageSpec(path=pwd()))
          Pkg.instantiate()
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }}
      - name: Run doctests
        shell: julia --project=docs --color=yes {0}
        run: |
          using Documenter: DocMeta, doctest
          using AustralianElectricityMarkets
          DocMeta.setdocmeta!(AustralianElectricityMarkets, :DocTestSetup, :(using AustralianElectricityMarkets); recursive=true)
          doctest(AustralianElectricityMarkets)