name: Docs

on:
  workflow_call:
    secrets:
      DOCUMENTER_KEY:
        required: false

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docs:
    name: Documentation
    runs-on: ubuntu-latest
    permissions:
      actions: write # needed to allow julia-actions/cache to proactively delete old caches that it has created
      contents: write
      statuses: write
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: "1"
      - name: Use Julia cache
        uses: julia-actions/cache@v2
      - name: Cache market data
        uses: actions/cache@v4
        id: cache-market-data
        with:
          path: ~/.nemweb_cache
          key: ${{ runner.os }}-nemweb-data-${{ hashFiles('test/fetch_data.jl') }}
          restore-keys: |
            ${{ runner.os }}-nemweb-data-
      - name: Fetch data
        if: steps.cache-market-data.outputs.cache-hit != 'true'
        shell: julia --project=@. --color=yes {0}
        run: |
          using Pkg
          Pkg.instantiate()
          include(joinpath(pwd(), "test", "fetch_data.jl"))
      - name: Build and deploy docs
        uses: julia-actions/julia-docdeploy@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # For authentication with GitHub Actions token
          DOCUMENTER_KEY: ${{ secrets.DOCUMENTER_KEY }} # For authentication with SSH deploy key
          GKSwstype: "100" # for Plots.jl plots (if you have them)
          JULIA_DEBUG: "Documenter"
          DATADEPS_ALWAYS_ACCEPT: true
